.top-content .top-heading {
    margin-top: 150px;
}

.top-heading {
    font-weight: bold;

}

.top-heading,
p {
    text-align: left;

}

.top-content p {
    float: left;

}

.top-content .d-btn {
    background-color: #8A2561;
    border: none;
    color: white;
    float: left;
    margin-bottom: 10px;
    margin-right: 50%;
}

.top-content .d-btn:hover {
    background-color: #621342;
    border: none;
    color: white;

}



.top-left h1 {
    padding-bottom: 10px;
}

.top-right {
    float: left;

}

.skills {
    text-align: left;

}

.skills p {

    font-size: 15px;
    font-weight: bold;

}

.skills h1 {
 
    font-weight: bold;
  

}
.skills h3 {
    padding: 30px 0 8px;
    position: relative;
    font-weight: bold;
    font-size: 23px;

}

.skills h3::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 9px;
    width: 180px;
    height: 10px;
    transform: translateX(-15%);
    background: #5EA5D5;
    z-index: -1;

}

.skills .two::before {
    background: #C85B66;
}

.skills .three::before {
    background: #F0D697;
}
.skills h4 {
    font-weight: bold;
    margin-top: 250px;
}
.skills img {
    margin-top: 150px;
    height: 380px;
    float: right;
}

