.top-content .top-heading {
    margin-top: 150px;
}

.top-heading {
    font-weight: bold;

}

.top-heading,
p {
    text-align: left;

}

.top-content p {
    float: left;

}

.top-content .d-btn {
    background-color: #8A2561;
    border: none;
    color: white;
    float: left;
    margin-bottom: 10px;
    margin-right: 50%;
}

.top-content .d-btn:hover {
    background-color: #621342;
    border: none;
    color: white;

}



.top-left h1 {
    padding-bottom: 10px;
}

.top-right {
    float: left;

}

.skills {
    text-align: left;

}

.skills p {

    font-size: 15px;
    font-weight: bold;

}

.skills h1 {

    font-weight: bold;


}

.skills h3 {
    padding: 30px 0 8px;
    position: relative;
    font-weight: bold;
    font-size: 23px;

}

.skills h3::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 9px;
    width: 180px;
    height: 10px;
    transform: translateX(-15%);
    background: #5EA5D5;
    z-index: -1;

}

.skills .two::before {
    background: #C85B66;
}

.skills .three::before {
    background: #F0D697;
}

.skills h4 {
    font-weight: bold;
    margin-top: 250px;
}

.skills img {
    margin-top: 150px;
    height: 380px;
    float: right;
}

.courses-body {
    text-align: left;
    margin-bottom: -500px;
}

.courses  {
    height: 30px;
   

}
.courses  h1{
  text-align: left;
   

}
.courses img {
    float: left;
    margin-left: -80px;


}

/* Card 1 design */
.card {
    background-color: transparent;
    border: none;
    height: 28rem;
    margin-left: -50px;
}
.card .course-right{
    margin-left: -30px;
  
}


.card img {
    height: 26rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card .course-dec {
    text-align: justify;
    color: gray;
}

.card .red {
    color: #B01625;
    text-decoration: line-through;
}

.card .red2 {
    color: #B01625;
    font-weight: 600;
    text-decoration: none;
}

.card .bold {
    font-weight: bold;
    
}
.card .bold2 {
   font-size: 13px;
    
}

.course-bottom {
    background-color: #E7E6F0;
    height: 80px;
    margin-left: -44px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.course-bottom1 {
    height: 73px;
}

.course-bottom button {
    height: 35px;
    border: 1px solid #5EA5D5;
    background-color: transparent;
    color: #000;
    font-weight: 400;
}

.course-bottom button:hover {
    background-color: #197FC3;
    color: #000;

}

/* 
Card 2 design */

.card2 {
    margin-top: -100px;
    margin-bottom: -900px;
}

.card2 img {
    height: 24rem;

}


.card2 .bold2 {
    font-size: 13px;

}
